<div class="row mt-4 mb-4">
    <div class="col-lg-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Ventas de Dia</div>
            <div class="card-body">
                <h5 class="card-title">400 S/.</h5>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Ventas del Mes</div>
            <div class="card-body">
                <h5 class="card-title">50 000 S/.</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Producto mas vendido</div>
            <div class="card-body">
                <h5 class="card-title">Televisor</h5>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-6">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-lg-6">
        <div >
            <div style="width:300px;heigth:220px;margin:0 auto;">
                <canvas id="myChart2"></canvas>
            </div>
            
        </div>
        
    </div>

</div>