<form action="/productos/crear" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate="">
            <div class="mb-3">
              <label for="username">Nombre</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="">
                <div class="invalid-feedback" style="width: 100%;">
                  Your Nombre is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Precio</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid Price is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Stop</label>
                <input type="number" class="form-control" id="stop" name="stop" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid Stop is required.
                </div>
              </div>
            </div>

            {{!-- <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="youexample.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div> --}}

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Categoria</label>
                <select class="custom-select d-block w-100" id="categoria_c" name="categoria" required="">
                  <option value="">Elegir...</option>
                  <option value="Linea Hogar">Linea Hogar</option>
                  <option value="Linea Oficina">Linea Oficina</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">Marca</label>
                <select class="custom-select d-block w-100" id="marca_c" name="marca" required="">
                  <option value="">Elegir...</option>
                  <option value="LG">LG</option>
                  <option value="Samsung">Samsung</option>
                  <option value="Phillips">Phillips</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
                <input type="hidden" id="wrap-img2" >
              </div>
            </div>

            {{!-- <div class="row">

            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="paypal">PayPal</label>
              </div>
            </div> --}}

            <div class="row">
              <div class="col-md-12">
                <div id="wrap-img">
                    <label for="product_img" class="form-label">Imagen</label>
                    <img id="img1" src="" alt="imagen de producto">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-3">
                <label for="cc-name">Imagen de Producto</label>
                <input type="file" id="imagen" name="imagen" accept=".jpg, .jpeg, .png" required>
                <small class="text-muted">Solo imagenes</small>

              </div>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>