<div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/">Inicio</a>
          {{!-- <a class="p-2 text-muted" href="#">Carga Imagenes</a> --}}
          <a class="p-2 text-muted" href="/api">Api</a>
          <a class="p-2 text-muted" href="/productos">Productos</a>
        </nav>
</div>